@using static myenergy.Pages.Home

@if (Data!.ContainsKey(Key!))
{
    <CardGroup>
        <Card Color="CardColor.Dark" Class="mb-3" TextAlignment="Alignment.Center">
            <CardHeader>Total Production</CardHeader>
            <CardBody>
                <CardTitle>@Data[Key!].TotalProduction.ToString(Format)</CardTitle>
                </CardBody>
            </Card>
            <Card Color="CardColor.Warning" Class="mb-3" TextAlignment="Alignment.Center">
                <CardHeader>Total Net Injection</CardHeader>
                <CardBody>
                    <CardTitle>@Data[Key!].TotalNetInjection.ToString(Format)</CardTitle>
                </CardBody>
            </Card>
            <Card Color="CardColor.Danger" Class="mb-3" TextAlignment="Alignment.Center">
                <CardHeader>Total Net Usage</CardHeader>
                <CardBody>
                    <CardTitle>@Data[Key!].TotalNetUsage.ToString(Format)</CardTitle>
                </CardBody>
            </Card>
            <Card Color="CardColor.Success" Class="mb-3" TextAlignment="Alignment.Center">
                <CardHeader>Total Usage</CardHeader>
                <CardBody>
                    <CardTitle>@Data[Key!].TotalUsage.ToString(Format)</CardTitle>
                </CardBody>
            </Card>
        </CardGroup>
}
else
{
    <div>Loading data...</div>
}

@code {
    [Parameter]
    public Dictionary<string, TotalData>? Data { get; set; }

    [Parameter]
    public string? Key { get; set; }

    [Parameter]
    public string? Format { get; set; } = "F0";
}
