@using static myenergy.Pages.Home

@if (Data!.ContainsKey(Key!))
{
    <div class="col text-center">
        <span class="badge rounded-pill bg-dark">@($"Production {Data[Key!].TotalProduction.ToString(Format)}")</span>
        <span class="badge rounded-pill bg-warning">@($"Injection {Data[Key!].TotalNetInjection.ToString(Format)}")</span>
        <span class="badge rounded-pill bg-danger">@($"Net Usage {Data[Key!].TotalNetUsage.ToString(Format)}")</span>
        <span class="badge rounded-pill bg-success">@($"Total Usage {Data[Key!].TotalUsage.ToString(Format)}")</span>
    </div>
}
else
{
    <div>Loading data...</div>
}

@code {
    [Parameter]
    public Dictionary<string, TotalData>? Data { get; set; }

    [Parameter]
    public string? Key { get; set; }

    [Parameter]
    public string? Format { get; set; } = "F0";
}
