name: Sungrow Data

# Run workflow every day at 4:00 AM UTC or run manually
on:
  schedule:
    - cron: "15 3-21 * * *" # Runs every hour between 5:00 and 23:00 CEST (UTC+2)

  workflow_dispatch: # Allows manual triggering as well

permissions:
  contents: write

env:
  GLOBAL_DOTNET_VERSION: '10.0.x'
  GLOBAL_COMMAND: 'Sungrow'

jobs:
  # scan:
  #   name: gitleaks
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         fetch-depth: 0
  #     - uses: gitleaks/gitleaks-action@v2
  #       env:
  #         GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  Run-Data:
    # needs: scan
    # use ubuntu-latest|self-hosted image to run steps on
    runs-on: ubuntu-24.04-arm # ubuntu-latest
    steps:

    - uses: actions/checkout@v6
      # with:
      #   fetch-depth: 0
        
    - name: Before Run Actions
      uses: sujithq/myenergy/.github/actions/before-run-actions@main
      with:
        DOTNET-VERSION: ${{ env.GLOBAL_DOTNET_VERSION }}

    - name: Run ${{ env.GLOBAL_COMMAND }} Data
      run: |
        dotnet run --project src/June.Data -c Release ${{ env.GLOBAL_COMMAND }} run
      env:
        NETCORE_ENVIRONMENT: Production
        SUNGROW_ACCESS_KEY: ${{ secrets.SUNGROW_ACCESS_KEY }}
        SUNGROW_APP_KEY: ${{ secrets.SUNGROW_APP_KEY }} 
        SUNGROW_APP_RSA_PUBLIC_KEY: ${{ secrets.SUNGROW_APP_RSA_PUBLIC_KEY }}
        SUNGROW_PASSWORD: ${{ secrets.SUNGROW_PASSWORD }}
        SUNGROW_PS_ID: ${{ secrets.SUNGROW_PS_ID }}

    - name: After Run Actions
      uses: sujithq/myenergy/.github/actions/after-run@main
      with:
        COMMAND: ${{ env.GLOBAL_COMMAND }}
        APP_ID: ${{ secrets.APP_ID }}
        PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        DOTNET-VERSION: ${{ env.GLOBAL_DOTNET_VERSION }}
